body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(249, 249, 231);
}
header{
    text-align: center;
}
main{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, 0.09);
    background-color: rgba(146, 145, 145, 0.115);
}
h2{
    margin: 5px;
}
ul{
    padding: 0;
    list-style: none;
}
/* ------------------------------------------- section left ------------------------------------------- */
#left-bloc{
    width: 40%;
    min-height: 50vh;
    margin: 5px;
}
/* ------------------------------------------- section right ------------------------------------------- */
#right-bloc{
    width: 50%;
    min-height: 50vh;
    margin: 5px;
}
/* ------------------------------------------- bloc liste ------------------------------------------- */
#bloc-articles, #bloc-achat, #bloc-maison{
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
    min-height: 20vh;
}/* ------------------------------------------- bloc liste ------------------------------------------- */
#bloc-maison{
    background-color: rgb(213, 246, 226);
}
/* ------------------------------------------- bloc liste ------------------------------------------- */
#bloc-achat{
    background-color: rgb(225, 222, 195);
}
/* ------------------------------------------- bloc liste ------------------------------------------- */
#bloc-articles{
    background-color: rgb(213, 233, 246);
}
/* ------------------------------------------- btn ------------------------------------------- */
.btn{
    padding: 7px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
#confirmer{
    background-color: rgb(84, 176, 119);
    color: black;
    margin-left: 5px;
}
#confirmer:hover{
    background-color: rgb(56, 203, 112);
    color: rgb(59, 25, 25);
    transition: 0.4s;
}
/* ------------------------------------------- inputs ------------------------------------------- */
input, textarea{
    padding: 4px;
    border-radius: 5px;
    padding: 7px;
    border: 2px solid black;
    border-radius: 5px;
    font-style: italic;
}
#article-input{
    margin: 25px 0;
    width: 78%;
}

/* ------------------------------------------- tache ------------------------------------------- */
.tache{
    padding: 24px 5px 5px 5px;
    background-color: rgb(250, 246, 246);
    border: 2px solid rgba(0, 0, 0, 0.247);
    border-radius: 5px;
    margin-right: 7px;
    margin-bottom: 7px;
    text-transform: capitalize;
    font-weight: bold;
    transition: 0.3s;
    width: 88%;
    position: relative;
    display: flex;
    align-items: center;
}
.tache:hover{
    background-color: rgb(201, 196, 196);
    transition: 0.3s;
}
.tache:hover .quantity-input{
    background-color: rgb(201, 196, 196);
}
.tache-text{
    width: 70%;
    word-break: break-word;
    resize: none;
    border: none;
    overflow-y: hidden;
    font-weight: bold;
    font-style: normal;
}
.delete-btn{
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    background-image: url(./icons-png/delete.png);
    background-size: cover;
    z-index: 99;
    transition: 0.3s;
}
.delete-btn:hover{
    background-color: rgb(200, 114, 114);
    border-radius: 50%;
    transition: 0.3s;
}
.quantity-input{
    background-color: rgb(250, 246, 246);
    width: 10%;
    margin: 0 5px;
    transition: 0.3s;
    text-align: center;
    border: 1px solid grey;
    font-weight: bold;
}
.quantity-input:hover{
    background-color: rgb(232, 226, 226) !important;
    transition: 0.3s;
}
.quantity-name{
    position: absolute;
    top: 2px;
    right: 15%;
    font-weight: normal;
    font-size: smaller;
}
.delete-name{
    position: absolute;
    top: 2px;
    right: 2%;
    font-weight: normal;
    font-size: smaller;
}
.textArea-name{
    position: absolute;
    top: 2px;
    left: 2%;
    font-weight: normal;
    font-size: smaller;
}
/* ------------------------------------ Classes liées au Drag n' Drop  ------------------------------ */
.deplacement{
    border: 2px dashed blue;
}
.depot{
    width: 100%;
    min-height: 20vh;
}
.hovered{
    background-color: rgba(93, 254, 6, 0.136);
    height: 100%;
}
/* ------------------------------------------- footer ------------------------------------------- */
footer{
    text-align: center;
    font-style: italic;
}
@media(max-width: 768px){
    main{
        flex-direction: column;
        align-items: center;
    }
    #left-bloc, #right-bloc{
        width: 80%;
        min-height: auto;
    }
}
